<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аптечная справочная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div>
        <form action="/file/upload" enctype="multipart/form-data"
              method="POST">

            <input class="form-control" id="file_name" name="file" th:value="${file.getAbsolutePath()}">
            <option th:value="${file.getAbsolutePath()}"
                    th:text="${file.getName()}"></option>
            </input>
            Аптека:
            <select class="form-control" id="pharmacyId" name="pharmacy_name">
                <option th:value="${pharmacy.pharmacyId}"
                        th:text="${pharmacy.name} +'  :  '+${pharmacy.address}"></option>
            </select>
            <br/><br/>

            <input type="submit" id="button_submit" value="Загрузить"> Нажмите для сохранения!

        </form>
    </div>
</div>
<div>
    <p class="form-control-static"  id="count" th:text="'Количество записей  '+ ${medicines.size}">Роль</p>
</div>

<div class="text-left" th:if="${not #lists.isEmpty(medicines)}">

    <div class="lead">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Производитель</th>
                <th>Страна</th>
            </tr>
            <tr th:each="medicine : ${medicines}">
                <td th:text="${medicine.name}">Название</td>
                <td th:text="${medicine.price}">Цена</td>
                <td th:text="${medicine.manufacturer}">Производитель</td>
                <td th:text="${medicine.country}">Страна</td>

            </tr>
        </table>
    </div>
</div>

<script>

     function setName() {
        document.getElementById('file_name').value = document.querySelector('#file').files[0].name;
    }




</script>
</body>
</html>