<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аптечная справочная</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../public/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div>
        <form action="/file/upload" enctype="multipart/form-data"
              method="POST">

            <input class="form-control" id="file_name" name="file" required th:value="${file.getAbsolutePath()}">
            <option th:text="${file.getName()}"
                    th:value="${file.getAbsolutePath()}"></option>
            </input>
            Аптека:
            <select class="form-control" id="pharmacyId" name="pharmacy_name" required>
                <option th:text="${pharmacy.name} +'  :  '+${pharmacy.address}"
                        th:value="${pharmacy.pharmacyId}"></option>
            </select>
            <br/><br/>

            <input id="button_submit" type="submit" value="Загрузить"> Нажмите для сохранения!

        </form>
    </div>
</div>
<div>
    <p class="form-control-static" id="count" th:text="'Количество записей  '+ ${medicines.size}">Роль</p>
</div>

<div class="text-left" th:if="${not #lists.isEmpty(medicines)}">

    <div class="lead">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Производитель</th>
                <th>Страна</th>
            </tr>
            <tr th:each="medicine : ${medicines}">
                <td th:text="${medicine.name}">Название</td>
                <td th:text="${medicine.price}">Цена</td>
                <td th:text="${medicine.manufacturer}">Производитель</td>
                <td th:text="${medicine.country}">Страна</td>

            </tr>
        </table>
    </div>
</div>

<script>

     function setName() {
        document.getElementById('file_name').value = document.querySelector('#file').files[0].name;
    }





</script>
</body>
</html>