<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../public/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <title>Аптечная справочная</title>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div>
        <form action="/file/view" enctype="multipart/form-data"
              method="POST">
            Выберете файл для загрузки
            <input id="file" name="file" onchange="setName()" required type="file"><br/>
            имя файла
            <input id="file_name" name="name" type="text"><br/>

            Выберите аптеку:
            <select class="form-control" id="pharmacyId" name="pharmacy_name" required>
                <option disabled selected th:if="${#lists.size(pharmacies)}  > 1" value="">Выберите аптеку</option>
                <option th:each="pharmacy : ${pharmacies}"
                        th:text="${pharmacy.name} +'  :  '+${pharmacy.address}"
                        th:value="${pharmacy.pharmacyId}"></option>
            </select>
            <br/><br/>

            <input id="button_submit" type="submit" value="Загрузить"> Нажмите для просмотра!

        </form>
    </div>
</div>

<div class="text-left" th:if="${not #lists.isEmpty(medicines)}">

    <div class="lead">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Производитель</th>
                <th>Страна</th>
            </tr>
            <tr th:each="medicine : ${medicines}">
                <td th:text="${medicine.name}">Название</td>
                <td th:text="${medicine.price}">Цена</td>
                <td th:text="${medicine.manufacturer}">Производитель</td>
                <td th:text="${medicine.country}">Страна</td>

            </tr>
        </table>
    </div>
</div>

<script>

     function setName() {
        document.getElementById('file_name').value = document.querySelector('#file').files[0].name;
    }

function submitFileToView(){
<!-- document.getElementById('button_submit').show();-->
    cleanTable();
    let request = new XMLHttpRequest();
    let url = 'http://localhost:8080/file/view';
    url += '?pharmacy=' + pharmacy.value;
 alert("!!!!!!!!!!!");
    request.open("GET", url);
    request.responseType = 'json';
    request.onload = function () {
        var response = request.response;
        if (response.length > 0) {
            drawTable(response);
        }
    }
     request.send();
}

function drawTable(data) {
    var name = 'name';
    var price = 'price';
    var quantity = 'quantity';
    var pharmacy = 'pharmacy';
    var address = 'address';
    var telephone_numbers = 'telephoneNumbers';
    var manufacturer = 'manufacturer';
    var id = 'id';
    var district = 'district';

    var table = document.getElementById("table");
    for (var i = 0; i < data.length; i++) {
        tr = table.insertRow(-1);

        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][name];
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][pharmacy][name] + ' (' + data[i][pharmacy][address] + ')';
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][pharmacy][telephone_numbers];
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][pharmacy][district];
        var tabCell = tr.insertCell(-1);
        tabCell.align = 'center';
        tabCell.innerHTML = data[i][price];
        var tabCell = tr.insertCell(-1);
        tabCell.align = 'center';
        tabCell.innerHTML = data[i][quantity];
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][manufacturer];
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][id];

    }
}

function clearInput() {
    var medicine_name = document.getElementById('medicine_name');
    medicine_name.value = "";
    var district = document.getElementById('district');
    district.value = "";
    var town = document.getElementById('town');
    town.value = "";
    var chain = document.getElementById('chain');
    chain.value = "";
    cleanTable();

}

function cleanTable() {
    for (var i = document.getElementById('table').getElementsByTagName('tr').length -1; i; i--) {
        document.getElementById('table').deleteRow(i);
    }
}





</script>
</body>
</html>