<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <!--    <link rel="stylesheet" type="text/css"  href="css/ui.jqgrid.css"/>-->
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <title>Единая аптечная справочная</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div class="text-left">

        <h1>Единая аптечная справочная</h1>
        <br/><br/>
        <div class="lead">
            <table>
                <td>
                    <p><a href="/medicine">Поиск лекарств</a></p>
                    <p><a href="/medicine/add">Добавить лекарство</a></p>
                    <p><a href="/medicine/get/from/pharmacy">Список лекарств в аптеке</a></p>
                    <p><a href="/pharmacy/pharmacies">Список аптек</a></p>
                    <p><a href="/medicine/get/all/from/pharmacy?pharmacy=1">Дефектура </a></p>

                </td>
                <td width="150"></td>
                <td sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <p><a href="/auxiliary/list">Вспомогательная информация</a></p>

                    <p><a href="/pharmacy/new">Добавить аптеку</a></p>

                    <p><a href="/file/add">Загрузка данных аптек из файла</a></p>
                    <p><a href="/statistic/file"> Генерация файлов статистики </a></p>
                    <p><a href="/email/download"> Автозагрузка даных с почты</a></p>
                    <p><a href="/statistic/file/download"> Скачать файлы статистики</a></p>
                </td>
            </table>

            <!--            <p sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/pharmacy/new">Добавить аптеку</a></p>-->
            <!--            <p sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/file/add">Загрузка данных аптек из файла</a></p>-->
            <!--            <p sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/statistic/file"> Генерация файлов статистики </a>-->
            <!--            </p>-->
            <!--            <p sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/email/download"> Автозагрузка даных с почты</a></p>-->


        </div>

    </div>


</div>


</body>


</html>

