<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аптечная справочная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
<div id="header">
    <h1>Аптечная справочная</h1>
    <p><a href="/medicine">Поиск лекарств</a></p>
    <p><a href="/medicine/get/from/pharmacy">Список лекарств в аптеке</a></p>
    <p><a href="/medicine/add">Добавить лекарство</a></p>
    <p><a href="/file/add">Загрузка данных аптек из файла</a></p>
    <p><a href="/pharmacy">Список аптек</a></p>
</div>

<div th:replace="~{fragments/header :: header}">Header</div>


</body>


</html>

