<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../public/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js">
<!--            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}">-->


    </script>

    <title>
        Аптечная справочная
    </title>

</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <form method="post" th:action="@{/user/saveNewUser}">
        <div class="lead">
            <div th:if="${error}" class="alert alert-danger" th:utext="${error}">error</div>
            <table class="table">
                <tr>
                    <td>
                        Имя пользователя:
                    </td>
                    <td>
                        <input name="userName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Пароль:
                    </td>
                    <td>
                        <input name="password" type="password"/>
                    </td>
                </tr>

            </table>
            <div><input type="submit" value="Отправить"/></div>
        </div>


    </form>

</div>
</body>
</html>