<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../public/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <title>
        Единая аптечная справочная
    </title>

</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">

    <h1>Введите аптечной сети</h1>
    <div>
        <form class="form-horizontal" method="post" th:action="@{/auxiliary/add/pharmacy_chain}"
              th:object="${pharmacyChain}">
            <input th:field="*{id}" type="hidden"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Название:</label>
                <div class="col-sm-10">
                    <input class="form-control" th:field="*{name}"/>
                    <label th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Название должно содержать от 2 до
                        255 символов </label>
                </div>
            </div>


            <div class="row">
                <button class="btn btn-default">Сохранить</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>