<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аптечная справочная</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../public/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <style>

   th,td {
   text-align: center;
   font-size: small;
   }


    </style>
</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="text-left" th:if="${not #lists.isEmpty(pharmacies)}">

    <div class="lead">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Телефон</th>
                <th>Ардес</th>
                <th>Город</th>
                <th>Район</th>
                <th>Аптечная сеть</th>
                <th>email</th>
                <th>Видимость</th>
                <th>Количество лекарств</th>
                <th>Дата последнего обновления</th>
                <th>Редактировать</th>
                <th>Загрузить данные</th>


            </tr>
            <tr th:each="pharmacy : ${pharmacies}">
                <td th:text="${pharmacy.name}">Название</td>
                <td th:text="${pharmacy.telephoneNumbers}">Телефон</td>
                <td th:text="${pharmacy.address}">Ардес</td>
                <td th:text="${pharmacy.town?.name}">Город</td>
                <td th:text="${pharmacy.district?.name}">Район</td>
                <td th:text="${pharmacy.pharmacyChain.name}">Аптечная сеть</td>
                <td th:text="${pharmacy.email}">email</td>
                <td th:text="${pharmacy.visibility}">Видимость</td>
                <td th:text="${countMedicines.get(pharmacy.pharmacyId)}"></td>
                <td th:text="${#dates.format(pharmacy.lastUpdateMedicines, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td><a th:href="${'/pharmacy/update/' + pharmacy.pharmacyId}">Редактировать</a></td>
                <td><a th:href="${'/pharmacy/add/file/' + pharmacy.pharmacyId}">Загрузить данные</a></td>

            </tr>
        </table>
    </div>
</div>

<script>
</script>
</body>
</html>